:root {
  --brillante: #03e9f4;
  --obscuro: #000;
  --claro: #ffff;
  --rojo: #ff0000;
}
* {
  margin: 0;
  padding: 0;
}
html,body{ 
	width:100%;
	height:100%;
  overflow: hidden;
}
#front{
  background-size: cover;
  background: var(--obscuro);
  width: 100%;
  height: 100%;
}
#back{
  /* La propiedad clip-path se agrega mediante javascript */
  /* La propiedad background se agrega mediante javascript */
}
section .page {
  font-size: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.focus {
  /* La propiedad box-shadow se agrega mediante javascript */
  top: -150px;
  left: -150px;
  position: relative;
  width: 300px;
  height: 300px;
  justify-content: center;
  border-radius: 50%;
  border: 1px, solid, var(--claro);
  transform: translate(var(--x), var(--y));
}
/* Zindex: 1 */
#logoButton{
  position: relative;
  z-index: 1;
  float: right;
}
#particles-js{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
}
/* Zindex: -1 */
p {
  display: block;
  text-align: center;
  font-size: 20%;
  padding-left: 15%;
  padding-right: 15%;
  bottom: 30vh;
  color: var(--claro);
  text-shadow: 0 0 6px var(--claro), 0 0 9px var(--claro);
  position: absolute;
  z-index: -1;
}
h1 {
  display: inline;
  color: var(--brillante);
  text-shadow: 0 0 3px var(--brillante), 0 0 6px var(--brillante),
    0 0 9px var(--brillante);
  font-size: 30%;
  top: 20vh;
  padding-left: 0.5vh;
  float: right;
  position: relative;
  z-index: -1;
  transition: 0.5s;
}
#arrow {
  width: 30%;
  height: 30%;
  display: inline;
  position: relative;
  padding-right: 20vh;
  float: right;
  z-index: -1;
}
/* Media Query */
@media screen and (min-width:400px) {
  h1 {
    font-size: 35%;
    transition: 0.5s;
  }
  p {
    font-size: 20%;
    transition: 0.5s;
  }
}
@media screen and (min-width:768px) {
  h1 {
    font-size: 40%;
    transition: 0.5s;
  }
  p {
    font-size: 25%;
    transition: 0.5s;
  }
}
@media screen and (min-width:1024px) {
  h1 {
    font-size: 45%;
    transition: 0.5s;
  }
  p {
    font-size: 30%;
    transition: 0.5s;
  }
}
@media screen and (min-width:1068px) {
  h1 {
    font-size: 50%;
    transition: 0.5s;
  }
  p {
    font-size: 35%;
    transition: 0.5s;
  }
}