:root {
  --brillante: #03e9f4;
  --obscuro: #000;
  --gris: rgb(39, 37, 37);
  --claro: #ffff;
  --rojo: #ff0000;
  --Gradiente_1: linear-gradient(45deg, #ffbc00, #ff0058);
  --Gradiente_2: linear-gradient(45deg, #03a9f4, #ff0058);
  --Gradiente_3: linear-gradient(45deg, #4dff03, #ff0058);
  --Gradiente_4: linear-gradient(45deg, #47021f, #ff0058);
  --PFont: "Indie Flower", cursive;
  --TFont: "Shadows Into Light Two", cursive;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  overflow: auto;
background: var(--obscuro);
}
section{
  text-align: center;
}
.description{
  margin: 1%;
  padding: 1%;
  width: 50%;
  border: 3px solid var(--claro);
  box-shadow: "0 0 3px var(--claro), 0 0 6px var(--claro), 0 0 9px var(--claro)";
  border-radius: 10px;
}
section li{
  color: var(--brillante);
  text-shadow: 0 0 6px var(--brillante), 0 0 9px var(--brillante);
  list-style: none;
}
section ul{
  align-items:stretch;
}
section h2{
  color: var(--rojo);
  text-shadow: 0 0 6px var(--rojo), 0 0 9px var(--rojo);
  padding-bottom: 2%;
}
section h3{
  color: var(--claro);
  text-shadow: 0 0 6px var(--claro), 0 0 9px var(--claro);
}