footer{
  bottom: 0;
  position: fixed;
    text-align: center;
    display: flex;
    color: var(--claro);
  }
  #footerDesc{
    width: 60%;
  }
  #footerNav{
    width: 20%;
  }
  #footerNav li{
    list-style: none;
  }
  #footerCont{
    width: 20%;
  }