:root {
  --obscuro: #000;
  --gris: rgb(15, 15, 15);
}

#preloader {
  overflow: hidden;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: var(--gris);
  display: none;
  animation: preloader 1s cubic-bezier(.75,0,.47,1) 1 forwards;
}
#loader {
  overflow: hidden;
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  background: var(--obscuro);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  animation: loaderDisplay 0.5s cubic-bezier(.75,0,.47,1) 2s 1 forwards;
}
#loader::after {
  content: "";
  position: absolute;
  z-index: -1;  
  width: 100%;
  height: 100%;
  background: var(--gris);
  animation: loaderAfter 1s cubic-bezier(.75,0,.47,1) 1 forwards;
}
#buttonLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: opacity(0);
  grid-area: 2/2/3/3;
  animation: logoLoader 1.5s 0.5s linear 1 forwards;
}
/* **** Keyframes **** */
@keyframes logoLoader {
  0% {
    transform: rotateZ(0);
    filter: opacity(0);
  }
  100% {
    transform: rotateZ(360deg);
    filter: opacity(100%);
  }
}
@keyframes loaderDisplay {
  0% {
    filter: blur(0);
  }
  95%{
    filter: blur(500px);
  }
  100%{
    z-index: -3;
  }
}
/* Gris */
@keyframes preloader{
  0% {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes loaderAfter{
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
