:root {
  --brillante: #03e9f4;
  --obscuro: #000;
  --gris: rgb(39, 37, 37);
  --claro: #ffff;
  --rojo: #ff0000;
  --Gradiente_1: linear-gradient(45deg, #ffbc00, #ff0058);
  --Gradiente_2: linear-gradient(45deg, #03a9f4, #ff0058);
  --Gradiente_3: linear-gradient(45deg, #4dff03, #ff0058);
  --Gradiente_4: linear-gradient(45deg, #47021f, #ff0058);
  --PFont: "Indie Flower", cursive;
  --TFont: "Shadows Into Light Two", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#loader {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: none;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  animation: loaderDisplay 1s linear 4s 1 forwards;
}
#loader::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--gris);
  animation: loaderBefore 3.5s cubic-bezier(0, 1, 0.8, 0) 1 forwards;
}
#buttonLoader {
  filter: opacity(1%);
  margin-left: 12%;
  grid-area: 2/2/3/3;
  animation: loader 2.5s 0.5s linear 1 forwards;
}
section {
  width: 100%;
  height: 100%;
}
@keyframes loader {
  0% {
    transform: rotateZ(0);
    filter: opacity(1%);
  }
  85% {
    transform: rotateZ(360deg);
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0);
  }
}
@keyframes loaderBefore {
  0% {
    bottom: 100%;
    transform: scale(1.5);
  }
  90% {
    transform: scale(2.5);
    bottom: 0%;
  }
  100% {
    transform: scale(0.1);
    bottom: -100%;
  }
}
@keyframes loaderDisplay {
  0% {
    z-index: 4;
  }
  100% {
    z-index: -3;
  }
}