@media screen and (min-width: 400px) {
  h1 {
    font-size: 30%;
    transition: 0.5s;
  }
  section p {
    font-size: 45%;
    transition: 0.5s;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35%;
    transition: 0.5s;
  }
  section p {
    font-size: 50%;
    transition: 0.5s;
  }
  #arrow {
    width: 50%;
    height: 25%;
    padding-right: 13vh;
  }
  #navMov {
    z-index: -3;
  }
  #navDesk {
    z-index: 1;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40%;
    transition: 0.5s;
  }
  section p {
    font-size: 55%;
    transition: 0.5s;
  }
  #arrow {
    width: 45%;
    height: 25%;
    padding-right: 11vh;
  }
}
@media screen and (min-width: 1068px) {
  h1 {
    font-size: 45%;
    transition: 0.5s;
  }
  section p {
    font-size: 50%;
    transition: 0.5s;
  }
  #arrow {
    width: 45%;
    height: 25%;
    padding-right: 10vh;
  }
}