:root {
  --brillante: #03e9f4;
  --obscuro: #000;
  --claro: #ffff;
  --rojo: #ff0000;
  --Gradiente_1: linear-gradient(45deg, #ffbc00, #ff0058);
  --Gradiente_2: linear-gradient(45deg, #03a9f4, #ff0058);
  --Gradiente_3: linear-gradient(45deg, #4dff03, #ff0058);
  --Gradiente_4: linear-gradient(45deg, #47021f, #ff0058);
  --PFont: "Indie Flower", cursive;
  --TFont: "Shadows Into Light Two", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Zindex: 2 */
.button {
  transform: rotateZ(0);
  transition: 2s;
  cursor: pointer;
}
#logoButton {
  position: relative;
  z-index: 2;
  /* Se selecciona con valor 2 para ser pulsado */
  float: right;
}
/* Menú de navegación movil */
.contentMov p {
  top: 35%;
  left: 30%;
  position: absolute;
  font-size: 120%;
  z-index: 2;
  color: var(--claro);
  text-shadow: 0 0 3px var(--claro), 0 0 6px var(--claro);
}
#navMov {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  left: -200vh;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: 2s;
  overflow: hidden;
  font-family: var(--TFont);
}
.contentMov {
  margin: 10px;
  margin-left: 2vh;
  border-radius: 5px;
}
#aboutMov {
  grid-area: 1/1/2/3;
  text-align: center;
  position: relative;
  background: var(--Gradiente_1);
  transition: 0.5s;
}
#projectsMov {
  grid-area: 2/1/3/3;
  text-align: center;
  position: relative;
  background: var(--Gradiente_2);
  transition: 0.5s;
}
#contactMov {
  grid-area: 2/3/3/5;
  text-align: center;
  position: relative;
  background: var(--Gradiente_3);
  transition: 0.5s;
}
#footerMov {
  grid-area: 3/1/4/5;
  text-align: center;
  position: relative;
  background: var(--Gradiente_4);
  transition: 0.5s;
}
#aboutMov::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_1);
}
#projectsMov::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_2);
}
#contactMov::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_3);
}
#footerMov::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_4);
}
#aboutMov:hover,
#projectsMov:hover,
#contactMov:hover,
#footerMov:hover {
  transform: translateX(-20px);
  transition: 1.5s;
}

/* Menú de navegación para escritorio */
.contentDesk p {
  top: 45%;
  left: 30%;
  position: absolute;
  font-size: 250%;
  z-index: 2;
  color: var(--claro);
  text-shadow: 0 0 3px var(--claro), 0 0 6px var(--claro);
}
#navDesk {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: 1.5s;
  overflow: hidden;
  font-family: var(--TFont);
}
.contentDesk {
  filter: opacity(60%);
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}
#aboutDesk {
  left: -200vh;
  grid-area: 1/1/2/2;
  position: relative;
  background: var(--Gradiente_1);
  transition: 1.5s;
}
#projectsDesk {
  top: -200vh;
  grid-area: 1/2/2/3;
  position: relative;
  background: var(--Gradiente_2);
  transition: 1.5s;
}
#contactDesk {
  left: -200vh;
  grid-area: 2/1/3/2;
  position: relative;
  background: var(--Gradiente_3);
  transition: 1.5s;
}
#footerDesk {
  right: -200vh;
  grid-area: 2/2/3/4;
  position: relative;
  background: var(--Gradiente_4);
  transition: 1.5s;
}
#aboutDesk::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_1);
}
#projectsDesk::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_2);
}
#contactDesk::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_3);
}
#footerDesk::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  background: var(--Gradiente_4);
}
#aboutDesk:hover,
#projectsDesk:hover,
#contactDesk:hover,
#footerDesk:hover {
  filter: opacity(100%);
  transition: 1.5s;
}

/* Zindex: 1 */
/* Zindex: -1 */
/* Querry class */
.rotate {
  transform: rotateZ(90deg);
  transition: 2s;
}
.translate {
  transform: translateX(200vh);
  transition: 0.5s;
}
.translateF {
  transform: translateX(-200vh);
  transition: 1.5s;
}
.translateA {
  transform: translateX(200vh);

  transition: 1.5s;
}
.translateC {
  transform: translateX(200vh);
  transition: 1.5s;
}
.translateP {
  transform: translateY(200vh);
  transition: 1.5s;
}
